.faq {
  background-color: #1f1c1d;
  &__wrapper {
    padding-top: 72px;
    padding-bottom: 30px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__lead {
    margin-bottom: 54px;
  }
  &__list {
    counter-reset: faq-counter;
    width: 75.6%;
    margin: 0 auto;
    overflow: hidden;
    transform: translateX(11px);
  }
  &__item {
    position: relative;
    padding: 0;
    padding-left: 116px;
    margin: 0;
    margin-bottom: 36px;
    counter-increment: faq-counter;
    overflow: hidden;
    &::before {
      content: "0" counter(faq-counter);
      position: absolute;
      left: 0;
      top: 16px;
      font-style: normal;
      font-weight: bold;
      font-size: 70px;
      font-family: $main-fonts;
      line-height: 82px;
      color: #a07b50;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  &__question {
    box-sizing: border-box;
    position: relative;
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ddd0c3;
    background-color: #1f1c1d;
    cursor: pointer;
    width: 99.9%;
    padding: 47px 15% 43px 42px;
    border: 1px solid #a07b50;
    text-align: left;
    outline: none;
    z-index: 2;
    appearance: none;
    transition: background-color 0.3s ease-out;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 13.3%;
      height: 100%;
      background-image: url("../img/plus.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-left: 1px solid #a07b50;
      transition: background-color 0.3s ease-out;
    }
    &:hover,
    &:hover::after {
      background-color: $main-color-background;
    }
  }
  &__answer {
    width: 99.9%;
    height: 0;
    padding: 0 42px;
    border: 0 solid #a07b50;
    opacity: 0;
    transition: height 0.3s ease-out, padding 0.3s ease-out,
      border 0.3s ease-out, opacity 0.3s ease-out;
    &--show {
      width: 99.9%;
      height: auto;
      padding: 38px 42px 39px;
      border: 1px solid #a07b50;
      border-top: none;
      z-index: 1;
      opacity: 1;
    }
    p {
      width: auto;
      margin: 0;
      font-family: $main-fonts;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 154%;
      color: #ddd0c3;
      &:first-of-type {
        max-width: 549px;
        margin-bottom: 28px;
      }
      &:last-of-type {
        max-width: 549px;
        margin-bottom: 0;
      }
    }
  }
  &__active-btn {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 13.3%;
      height: 100%;
      background-image: url("../img/activeQuestion.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: #a07b50;
    }
    &:hover::after {
      background-color: $main-color-background;
    }
  }
}

@media (max-width: $tablet-width) {
  .faq {
    &__wrapper {
      padding-top: 53px;
      padding-bottom: 9px;
    }
    &__title {
      margin-bottom: 24px;
      transform: translateX(0);
    }
    &__lead {
      max-width: 190px;
      margin-bottom: 36px;
    }
    &__list {
      transform: translateX(0);
      width: 100%;
    }
    &__item {
      margin-bottom: 30px;
      padding-left: 0;
      &::before {
        display: none;
      }
    }
    &__question {
      padding: 10px 17% 11px 14px;
      font-size: 14px;
      line-height: 140%;
      &::after {
        width: 14.3%;
      }
      &--zero-two {
        padding: 12px 17% 10px 14px;
        letter-spacing: 0.05px;
      }
      &--zero-three {
        padding: 10px 17% 10px 14px;
      }
      &--zero-four {
        padding: 10px 17% 10px 14px;
      }
      &:hover::after {
        background-color: #1f1c1d;
      }
    }
    &__answer {
      padding-left: 14px;
      padding-right: 25px;
      &--show {
        padding: 11px 25px 11px 14px;
      }
      p {
        font-size: 14px;
        line-height: 142%;
        &:first-of-type {
          margin-bottom: 15px;
        }
      }
    }
    &__active-btn::after {
      width: 14.3%;
    }
  }
}

@media (max-width: $laptop-width) {
  .faq {
    &__wrapper {
      padding-top: 137px;
      padding-bottom: 31px;
    }
    &__title {
      margin-bottom: 19px;
      transform: translateX(-5px);
    }
    &__lead {
      margin-bottom: 52px;
      word-spacing: 1px;
    }
    &__list {
      transform: translateX(12px);
      width: 89.1%;
    }
    &__item {
      padding-left: 82px;
      margin-bottom: 23px;
      &::before {
        top: 9px;
        left: 1px;
        font-size: 50px;
        line-height: 59px;
      }
    }
    &__question {
      padding: 21px 140px 16px 29px;
      &--zero-two {
        padding: 28px 140px 28px 26px;
      }
      &--zero-four {
        padding: 31px 140px 25px 28px;
      }
    }
    &__answer {
      padding-left: 28px;
      padding-right: 143px;
      &--show {
        padding: 24px 143px 29px 28px;
      }
    }
  }
}
