// @media (max-width: $desktop-width) {

// }

// @media (max-width: $tablet-width) {

// }
.footer {
  background-color: $main-color-background;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 72.7%;
    padding-top: 70px;
    padding-bottom: 59px;
  }
  &__logo svg {
    fill: #a07b50;
    stroke: $main-color-background;
    stroke-width: 0.8;
    transition: fill 0.3s ease-out;
    &:hover,
    &:focus {
      fill: #ffffff;
    }
  }
  &__social {
    align-self: center;
    li {
      margin-right: 8px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    svg {
      fill: #a07b50;
      &:hover,
      &:focus {
        fill: #ffffff;
      }
    }
  }
  &__link {
    font-family: $main-fonts;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #ddd0c3;
    transition: color 0.3s ease-out;
    &--address {
      transform: translateX(27px);
    }
    &--tel {
      font-weight: bold;
      transform: translateX(-29px);
    }
    &:hover,
    &:focus {
      color: #a07b50;
    }
  }
}

@media (max-width: $tablet-width) {
  .footer {
    &__wrapper {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 10px;
    }
    &__logo {
      display: block;
      svg {
        width: 58px;
        height: 27px;
      }
    }
    &__social {
      margin-bottom: 26px;
      li {
        margin-right: 20px;
      }
    }
    &__link {
      flex-direction: column-reverse;
      &--tel {
        margin-bottom: 15px;
        transform: translateX(0);
      }
      &--address {
        order: 2;
        margin-bottom: 3px;
        transform: translateX(0);
      }
    }
  }
}

@media (max-width: $laptop-width) {
  .footer {
    &__wrapper {
      width: 93%;
      justify-content: space-between;
      padding-top: 35px;
      padding-bottom: 43px;
    }
    &__logo {
      display: none;
    }
    &__social {
      align-self: center;
      li {
        margin-right: 9px;
      }
    }
    &__link {
      &--address {
        transform: translateX(27px);
      }
      &--tel {
        font-weight: bold;
        transform: translateX(6px);
      }
    }
  }
}
