.reviews {
  background-color: #1f1c1d;
  &__wrapper {
    display: block;
    padding-top: 27px;
    padding-bottom: 112px;
  }
  &__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 65px;
    padding-left: 65px;
    button {
      display: block;
    }
  }
  &__title {
    margin-bottom: 59px;
  }
  &__list {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  &__item {
    display: flex;
    padding-left: 0;
    img {
      width: 481px;
      height: auto;
    }
    blockquote {
      margin: 0;
    }
    time {
      font-family: $main-fonts;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 19px;
      color: #a07b50;
      margin-right: 35px;
      letter-spacing: 0.6px;
      line-height: 2.5;
    }
  }
  &__item-title {
    display: block;
    margin: 0 0 13px;
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $main-color-text;
  }
  &__img-wrapper {
    width: 60%;
    margin-top: 45px;
    z-index: 5;
    margin-left: 54px;
  }
  &__content {
    width: 72%;
    margin-left: -106px;
    padding: 109px 95px 78px 145px;
    background-color: $main-color-background;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    blockquote {
      display: block;
      width: 100%;
    }
    blockquote p {
      margin: 0 0 39px;
      font-family: $main-fonts;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 23px;
      color: $main-color-text;
      opacity: 0.7;
    }
  }
  &__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  &__social {
    align-items: flex-start;
    li {
      margin-right: 17px;
      margin-bottom: 17px;
      &:last-of-type {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
    a {
      width: 28px;
      height: 28px;
      border: 1px solid #a07b50;
      transition: border-color 0.3s ease-out;
      &:hover,
      &:focus {
        border-color: #ffffff;
        svg {
          fill: #ffffff;
        }
      }
    }
  }
  &__icon {
    fill: #a07b50;
  }
}

@media (max-width: $tablet-width) {
  .reviews {
    &__wrapper {
      padding-top: 15px;
      padding-bottom: 60px;
    }
    &__slider {
      padding-top: 0;
      padding-left: 0;
      flex-direction: column;
      align-items: flex-start;
      button {
        position: absolute;
        width: 19px;
        height: 19px;
        &:first-of-type {
          background-image: url("../img/arrowPrev.svg");
          left: 0;
          top: 97px;
        }
        &:last-of-type {
          background-image: url("../img/arrowNext.svg");
          right: 0;
          top: 97px;
        }
      }
    }
    &__title {
      margin-bottom: 51px;
      transform: translateX(0);
    }
    &__list {
      width: 100%;
    }
    &__item {
      img {
        position: relative;
        width: auto;
        height: auto;
        top: 0;
      }
      time {
        margin-right: 37px;
      }
    }
    &__item-title {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      margin-bottom: 18px;
    }
    &__img-wrapper {
      width: 242px;
      height: 166px;
      margin-top: 0;
      position: relative;
      z-index: 5;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__content {
      width: auto;
      margin: 0;
      margin-top: -83px;
      padding: 116px 27px 39px;
      blockquote p {
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        margin-bottom: 21px;
      }
    }
    &__social {
      justify-content: center;
      li {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }
    &__icon {
      &--tw {
        width: 16px;
        height: 12px;
      }
      &--vk {
        width: 18px;
        height: 10px;
      }
    }
  }
}

@media (max-width: $laptop-width) {
  .reviews {
    &__wrapper {
      padding-top: 34px;
      padding-bottom: 86px;
    }
    &__slider {
      width: 100%;
      position: relative;
      padding: 0;
      padding-top: 95px;
      padding-left: 13px;
      button {
        display: block;
        position: absolute;
        z-index: 2;
        width: 60px;
        height: 18px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5;
        transition: opacity 0.3s ease-out;
        &:hover {
          opacity: 1;
        }
        &:first-of-type {
          top: 155px;
          z-index: 5;
          left: 17.5%;
          background-image: url("../img/arrowPrevLong.svg");
          background-position: center;
        }
        &:last-of-type {
          top: 155px;
          right: 14.5%;
          background-image: url("../img/arrowNextLong.svg");
        }
      }
    }
    &__title {
      margin-bottom: 49px;
      transform: translateX(8px);
    }
    &__list {
      width: 100%;
      height: auto;
    }
    &__item {
      flex-direction: column;
      position: relative;
      padding-left: 0;
      width: 100%;
      img {
        position: relative;
        width: 302px;
        height: 208px;
        top: 10px;
        left: 0;
      }
    }
    &__item-title {
      text-align: center;
    }
    &__img-wrapper {
      width: 302px;
      height: 208px;
      margin-top: 0;
      margin-left: 0;
      position: absolute;
      z-index: 5;
      top: -105px;
      left: 50%;
      transform: translateX(-50%);
    }
    &__content {
      width: 54%;
      margin-left: auto;
      margin-right: auto;
      padding: 148px 89px 15px 111px;
      align-items: center;
      blockquote p {
        margin: 0 0 26px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 1110px) {
  .reviews__content {
    padding: 109px 30px 82px 120px;
  }
}
